@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: hsla(242, 100%, 64%, 0.05);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 0 1rem; */
}

.btn {
  background-color: #4e47ff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.2rem 3.6rem;
  border-radius: 1rem;
  color: #fff;
  transition: all .1s linear;
}

.btn:hover {
    background: orangered;
}

/* header styles  */

header {
  background-image: url(Assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
}

/* nav styles  */

nav {
  display: flex;
  justify-content: space-between;
  padding: 5.1rem 0;
}

nav h2 {
  font-size: 3.4rem;
  font-weight: 900;
  color: #4e47ff;
}

nav a {
    color: #fff;
}

/* hero styles  */

.hero {
  max-width: 905px;
  margin: 0 auto;
  padding: 15rem 0;
  text-align: center;
}

.hero h1 {
  color: #252432;
  font-size: 6.5rem;
  font-weight: bold;
  margin-bottom: 3.7rem;
}



/* action styles  */

.action_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12rem 0;
}

.action_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.3rem;
  max-width: 517px;
}

.action_text h2 {
  font-size: 4.2rem;
  font-weight: bold;
  color: #252432;
}

.action_text p {
  font-size: 2.4rem;
  color: hsla(244, 16%, 17%, 0.5);
}

.action_img img {
  border-radius: 4.8rem;
}

/* users styles  */

#users > .container {
  background-color: hsla(242, 100%, 64%, 0.1);
  padding: 5rem 0;
  border-radius: 2.4rem;
}

.users_content {
  max-width: 856px;
  text-align: center;
  margin: 0 auto;
}

.users_content > h3 {
  font-size: 3.8rem;
  margin-bottom: 4rem;
}

.users_box {
  display: flex;
  justify-content: space-between;
}

.single_box {
  display: flex;
  flex-direction: column;
}

.single_box h3 {
  font-size: 8rem;
  color: #4e47ff;
}

.single_box p {
  font-size: 2rem;
  color: hsla(0, 0%, 0%, 0.5);
}

/* testimonial styles  */

#testimonial {
  margin: 13rem 0;
}

#testimonial h2 {
  font-size: 4.2rem;
  text-align: center;
  margin-bottom: 5rem;
  color: #252432;
}

.testimonial_box {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.testimonial_single_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  padding: 2.4rem;
  border-radius: 1.4rem;
  background: #fff;
  border: 1px solid #25243227;
}

.testimonial_single_box h4 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #252432;
  margin-bottom: 1rem;
}
.testimonial_single_box p {
  font-size: 1.6rem;
}

.author_box {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.author_box img {
  border-radius: 50%;
}

.name_box h5 {
  font-size: 1.6rem;
  color: hsla(0, 0%, 0%, 0.5);
  font-weight: bold;
}
.name_box p {
  font-size: 1.6rem;
  color: hsla(0, 0%, 0%, 0.2);
  font-weight: bold;
}

/* focus styles  */

#focus .container {
  background: #fff;
  border-radius: 1.4rem;
}

.focus_content {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 7rem 0;
}

.focus_content h2 {
  font-size: 4.2rem;
}
.focus_content p {
  font-size: 1.6rem;
  color: #00000073;
}

.focus_content img {
  border-radius: 4.8rem;
}

/* contact styles  */

#contact {
  padding: 9rem 2rem;
}

.contant_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7rem 0;
  gap: 15rem;
}

.contant_content > * {
  flex-basis: 100%;
}

.contant_content h2 {
  font-size: 9rem;
  font-weight: bold;
}

.contant_content form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: right;
  gap: 1.6rem;
}

.contant_content form label {
  font-size: 1.8rem;
}
.contant_content form input {
  font-size: 1.8rem;
  padding: 2rem 3.2rem;
  border: 1px solid #25243214;
  width: 100%;
  border-radius: 1rem;
}
.contant_content form textarea {
  font-size: 1.8rem;
  padding: 2rem 3.2rem;
  border: 1px solid #25243214;
  width: 100%;
  border-radius: 1rem;
}

.contant_content a {
  width: 100%;
  text-align: center;
  color: white;
}

/* footer styles  */
footer {
  background: #fff;
}

.footer_content {
  padding: 10rem 0;
  max-width: 531px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background: #fff;
}

.footer h2 {
  font-size: 10rem;
  color: #4e47ff;
  font-weight: 900;
}

.footer p,
a {
  font-size: 1.6rem;
  color: #25243265;
}

.footer_link {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
